* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
}

.general-link {
    font-weight: bold;
    color:	#8fc1e3;
}

.general-link:hover {
    color: #f9d71c;
}

.master-outer-container {
    width: 100%;
}

.nav-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-button-container {
    opacity: 0;
    margin: 0 15px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0px;
    transform: translateY(-100px);
}

.nav-link {
    color: #3b5998;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
}

.nav-button-container::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8b9dc3;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.nav-button-container:hover::after {
    width: 100%;
}

.home-container {
    width: 100%;
    height: 90vh;
    max-width: 800px;
    padding: 0px 15px 0px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0px 60px 0px;
    position: relative; 
    cursor: default;
}

.home-bg-container {
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    position: absolute;
    background-image: url(images/home-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -100;
}

.home-plane-object {
    width: 100%;
    max-width: 50px;
    position: absolute;
    left: 0;
    top:60%;
    z-index: -50;
    opacity: 0;
    transform: rotate(10deg);
}

.home-plane-object img {
    width: 100%;
}

#cloud-1 {
    width: 100%;
    max-width: 175px;
    position: absolute;
    left: 0;
    top: 20%;
    opacity: 0;
    z-index: -50;
}

#cloud-2 {
    width: 100%;
    max-width: 250px;
    position: absolute;
    left: 5%;
    top: 20%;
    opacity: 0;
    z-index: -60;
}

#cloud-3 {
    width: 100%;
    max-width: 200px;
    position: absolute;
    left: 70%;
    top: 30%;
    opacity: 0;
    z-index: -70;
}

#cloud-4 {
    width: 100%;
    max-width: 150px;
    position: absolute;
    left: 80%;
    top: 35%;
    opacity: 0;
    z-index: -40;
}

#cloud-5 {
    width: 100%;
    max-width: 350px;
    position: absolute;
    left: 30%;
    top: 0;
    opacity: 0;
    z-index: -90;
}

.profile-home-image-container {
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(-200px);
}

.profile-home-image-container img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 0px solid white;
    opacity: 1;
    padding: 5px;
}

.main-home-container h3 {
    width: 100%;
    text-align: center;
    opacity: 0;
}

.main-home-container h3:hover{
    color: #f9d71c;
}


.main-home-container h4 {
    width: 100%;
    text-align: center;
    margin: 0px;
    opacity: 0;
}

.main-home-container h4:hover{
    color: #f9d71c;
}

.info-container {
    width: 100%; 
    background-image: url(images/info-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    position: relative;
    z-index: -100;
}

.info-inner-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 50px 15px 50px 15px;
    margin: 0 auto;
    cursor: default;
}

.firefly {
    opacity: 0;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    z-index: -50;
}

.small-firefly {
    width: 2px;
    height: 2px;
    animation: small-glow 1s infinite alternate, up-down 10s infinite;
}

.firefly-1 {
    bottom: 5%; 
    left: 10%;
}

.firefly-2 {
    bottom: 20%; 
    left: 10%;
}

.firefly-3 {
    bottom: 10%; 
    right: 10%;
}

.firefly-4 {
    bottom: 15%; 
    right: 10%;
}

.moon-container {
    opacity: 0;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: -75;
}

.moon-container img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    animation: moon-glow 4s infinite alternate, up-down 20s infinite;
}

.left-info-container {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 25px;
}

.profile-info-image-container {
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(-200px);
}

.profile-info-image-container img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 0px solid white;
    opacity: 1;
    padding: 5px;
}

.left-info-container h3 {
    width: 100%;
    display: none;
    opacity: 0;
    text-align: center;  
    color: white;
}

.left-info-container h3:hover {
    color:#f9d71c;
} 

.left-info-container h4 {
    width: 100%;
    display: none;
    opacity: 0;
    text-align: center;
    margin: 0px;
    color: white;
}

.left-info-container h4:hover {
    color:#f9d71c;
} 

.right-info-container {
    width: calc(65% - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    border-radius: 5px;
    padding: 25px;
    background-color: #31708e;
}

.right-info-container p {
    width: 100%;
    margin-top: 0px;
    opacity: 0;
    color: white;
    transform: translateX(200px);
}

.right-info-container:hover > p:hover {
    color:#f9d71c;
}

.right-info-container p:last-child {
    margin-bottom: 0px;
}

.outer-project-container {
    width: 100%;
}

.inner-project-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: warp;
}

.site-container {
    width: 100%;
    height: 600px;
    background: papayawhip;
}

.contact-container {
    width: 100%;
    height: 600px;
    background: orange;
}

@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}

@keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}

.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes small-glow {
    from {
      box-shadow: 0 0 10px -5px rgb(251, 255, 0);
    }
    to {
      box-shadow: 0 0 10px 5px rgb(251, 255, 0);
    }
}

@keyframes moon-glow {
    from {
      box-shadow: 0 0 15px -10px white;
    }
    to {
      box-shadow: 0 0 15px 10px white;
    }
}

@keyframes up-down {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    10% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    20% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    30% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    40% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    50% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    70% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    80% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    90% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px); 
    }
}

.gold-color {
    color: #f9d71c;
}

.half-transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.zero-margin {
    margin: 0px;
}
