* {
    box-sizing: border-box;
}

body {
    background-color: teal;
}

.master-outer-container {
    width: 100%;
}

.master-inner-container {
    width: 100%;
    max-width: 1200px;
    margin: 55px auto 0 auto;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-button-container {
    opacity: 0;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0px;
    transform: translateY(-100px);
}

.nav-container::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.nav-container:hover::after {
    width: 100%;
}

.home-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.left-home-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.left-home-container img {
    width: 100%;
    max-width: 150px;
    text-align: center;
}

.left-home-container h3 {
    text-align: center;
}

.left-home-container h4 {
    text-align: center;
}

.right-home-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.right-home-container p {
    width: 100%;
}

.about-container {
    width: 100%;
    height: 600px;
    background: blue;
}

.project-container {
    width: 100%;
    height: 600px;
    background: tan;
}

.half-transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.normalize-margin {
    margin-top: 0px;
}
