.leftbar {
    background-color: #7DCCE7;
    float:left;
    margin: 0 .1% .1% 10%;
    height: 600px;
    width: 19.9%;
    color:White;
    font-size: 20px;
    font-family: Arial;
    
}

.intropadding {
    margin: 5% 5% 2.5% 5%;
    padding: 5%;
    display: block;
    font-size: 100%;
   
}

.articlepadding {
    margin: 0 5% 1% 5%;
    padding: 2%;
    display: block;
}

.rightbar {
    background-color:#7DCCE7;
    margin: 0 auto .1% 0;
    height: 600px;
    width: 60%;
    float: left;
    color:White;
    font-size: 30px;
    font-family: Arial;
}
