.leftbar {
    background-color: #7DCCE7;
    float:left;
    margin: 0 .1% .1% 10%;
    height: 600px;
    width: 19.9%;
    text-align:center;
    color:White;
    font-size: 30px;
    font-family: Arial;
}

.intropadding {
    padding: 5%;
}

.articlepadding {
    padding: 2%;
}

.rightbar {
    background-color:#7DCCE7;
    margin: 0 auto .1% 0;
    height: 600px;
    width: 60%;
    float:left;
    text-align:center;
    color:White;
    font-size: 30px;
    font-family: Arial;
}
