.leftbar {
    background-color: #7DCCE7;
    float:left;
    margin: 0 .1% .1% 10%;
    height: 600px;
    width: 19.9%;
    color:White;
    font-size: 20px;
    font-family: Arial;
    
}

.intropadding {
    margin: 5% 5% 2.5% 2.5%;
    display: block;
    font-weight: bold;
    background-color: #0089e6;
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);
}

.articlepadding {
    margin: 0 5% 1% 5%;
    display: block;
    font-weight: bold;
    background-color: #0089e6;
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);
}

.rightbar {
    background-color:#7DCCE7;
    margin: 0 auto .1% 0;
    height: 600px;
    width: 60%;
    float: left;
    color:White;
    font-size: 30px;
    font-family: Arial;
}

.rightbartext{
    margin: 5% 5% 5% 5%;
}
