.header {
    text-align: center;
    color:White;
    Font-size: 20px;
    Font-family: Arial;
    background-color:#A79292;
    padding: 15px;
    font-weight: bold;
    width: auto;
    height: auto;
    border-left: 15em;
    border-right: 15em;
    border-left-color: #6A5959;
    border-right-color: #6A5959;
    border-style: solid;
 }

.nav {
    text-align: center;
    color:White;
    font-size: 30px;
    font-family: Arial;
    width 100%;
    padding: 20px;
}

.navbutton {
    background-color: #6A5959;
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);
}

.leftside {
    background-image: url("http://i.imgur.com/LMNmPL1.jpg");
    height: auto;
    width: 100%;
    float: left;
    text-align:center;
    color:White;
    font-size: 5px;
    font-family: Arial;
    padding: 3% 0 3% 0;
}
.middlesection-compact {
    background-color: #A79292;
    height: auto;
    width 100%;
    color: white;
    font-size: 25px;
    font-family: Arial;
    text-align: left;
    border-left: 12em;
    border-right: 12em;
    border-left-color: #6A5959;
    border-right-color: #6A5959;
    border-style: solid;
    padding: 3% 25% 3% 25%;
}

.middlesection {
    background-color: #A79292;
    height: auto;
    width 100%;
    color: white;
    font-size: 25px;
    font-family: Arial;
    text-align: left;
    border-left: 15em;
    border-right: 15em;
    border-left-color: #6A5959;
    border-right-color: #6A5959;
    border-style: solid;
    padding: 5% 10% 5% 10%;
}

.footer {
    background-color: #A79292;
    clear:both;
    text-align:center;
    border-left: 18.8em;
    border-right: 18.8em;
    border-left-color: #6A5959;
    border-right-color: #6A5959;
    border-style: solid;
}

.footerimg {
    margin: auto;
    display:inline-block;
    padding: 5px
}

a:hover {
    color: #99d4ff;   
}

a:active {
    color:#aa80ff;
}
