.header {
    text-align: center;
    color:White;
    Font-size: 20px;
    Font-family: Arial;
    background-color:#95B8D1;
    padding: 15px;
    font-weight: bold;
    width: auto;
    height: auto;
    border-left: 15em;
    border-right: 15em;
    border-left-color: #809BCE;
    border-right-color: #809BCE;
    border-style: solid;
 }

.nav {
    text-align: center;
    color:White;
    font-size: 30px;
    font-family: Arial;
    background-color: #95B8D1;
    width 100%;
    padding: 15px;
}

.navbutton {
    background-color: #809BCE;
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);
}

.leftside {
    background-color:#7DCCE7;
    height: 300px;
    width: 70%;
    float: left;
    text-align:center;
    color:White;
    font-size: 70px;
    font-family: Arial;
}

.rightside {
    background-color: black;
    float: right;
    height: 300px;
    width: 30%;
    text-align:center;
    color:White;
    font-size: 30px;
    font-family: Arial;
}

.middlesection {
    background-color: #7DCCE7;
    margin: 0 10% 0 10%;
    height: auto;
    color: white;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    padding: 50px 0 50px 0;
    
}

.footer {
    background-color: #95B8D1;
    clear:both;
    text-align:center;
}

.footerimg {
    margin: auto;
    display:inline-block;
    padding: 5px
}


a:hover {
    color: #99d4ff;   
}

a:active {
    color:#aa80ff;
}
