.header {
    Text-align:center;
    color:White;
    Font-size:30px;
    Font-family: Arial;
    background-color:#58D4FD;
    margin: 5% 10% .1% 10%;
    padding:10px;
    font-weight: bold;
 
}

.nav {
    text-align:center;
    color:White;
    font-size: 30px;
    font-family: Arial;
    background-color:#86D7F2;
    margin: .1% 10% .1% 10%;
    padding: 10px;
}

.navbutton {
    background-color: #0089e6;
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 12px;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
    
.leftside {
    background-color:#7DCCE7;
    margin: 0 .1% .1% 10%;
    height: 600px;
    width: 60%;
    float:left;
    text-align:center;
    color:White;
    font-size: 30px;
    font-family: Arial;
}

.welcomepicture {
    display: block;
    margin: 2% auto auto auto;
}

.rightside {
    background-color: #7DCCE7;
    float:left;
    margin: 0 auto .1% 0;
    height: 600px;
    width: 19.9%;
    text-align:center;
    color:White;
    font-size: 30px;
    font-family: Arial;
}

.footer {
    background-color: #58D4FD;
    clear:both;
    margin: auto 10% 1% 10%;
    text-align:center;
}

.footerimg {
    margin: auto;
    display:inline-block;
    padding: 5px
}


a:hover {
    color: #99d4ff;   
}

a:active {
    color:#aa80ff;
}
